* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  scroll-behavior: smooth;
}

h1 {
  font-family: Comfortaa, cursive;
  font-size: 7em;
}

@media (min-width: 768px) {
  h1 {
    font-size: 10em;
  }
}

h2, h3, h4, h5, h6, a {
  font-family: Montserrat, sans-serif;
}

h2 {
  font-size: 6rem;
}

@media (min-width: 480px) {
  h2 {
    font-size: 7rem;
  }
}

h3 {
  color: #a5f20c;
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
  margin: 10px;
}

p {
  font-style: Libre Baskerville, serif;
  line-height: 150%;
}

.cf {
  color: #e6e6e6;
}

.cb {
  background-color: #ecf0f1;
}

.df {
  color: #2b2b2b;
}

.db {
  background-color: #1a1a1a;
}

.pc {
  color: #a5f20c;
}

#about, #work, #skills, #contact {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.rotatedHeader {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  z-index: 0;
  margin-left: -10px;
  margin-top: -50px;
}

@media (min-width: 480px) {
  .rotatedHeader {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  .rotatedHeader {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.headerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  z-index: 100;
}

.logoMobile {
  border-radius: 50%;
  margin: 20px;
  position: fixed;
  border-radius: 50%;
}

.logoDesktop {
  height: 60px;
  display: none;
}

@media (min-width: 768px) {
  .logoDesktop {
    display: block;
  }
}

.logoMobile {
  height: 60px;
  width: 60px;
}

@media (min-width: 768px) {
  .logoMobile {
    display: none;
  }
}

.social, .navbar {
  position: absolute;
}

.navbarMobile {
  position: fixed;
  background: #a5f20c;
  z-index: 100;
  width: 100%;
  height: 10vh;
  bottom: 0;
  left: 0;
}

@media (min-width: 480px) {
  .navbarMobile {
    height: 3.5rem;
  }
}

@media (min-width: 992px) {
  .navbarMobile {
    display: none;
  }
}

.navbarMobile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbarMobile ul li {
  list-style: none;
  width: calc( 100vw / 3);
  text-align: center;
}

.navbarMobile ul li a {
  opacity: 0.5;
  margin: 10px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  margin-top: 0px;
  position: relative;
  color: #a5f20c;
  -webkit-filter: drop-shadow(-3px -3px 2px white);
          filter: drop-shadow(-3px -3px 2px white);
}

.icons .back {
  color: #a5f20c;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.9));
          filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.9));
  position: absolute;
}

.navbarDesktop {
  display: none;
}

@media (min-width: 992px) {
  .navbarDesktop {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #1a1a1a;
    width: 100%;
    height: 70px;
    z-index: 1000;
    top: 0;
    right: 0;
  }
}

.navbarDesktopUl {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbarDesktopUl li {
  list-style-type: none;
}

.navbarDesktopUl a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  color: #a5f20c;
}

.navIcon {
  height: 30px;
}

.navIcon img {
  height: 100%;
  margin-right: 5px;
}

#home {
  height: 100vh;
  width: 100%;
}

.nameFront {
  z-index: 1;
  margin: 10px 25px;
}

@media (min-width: 480px) {
  .nameFront {
    margin: 10px 150px;
  }
}

@media (min-width: 768px) {
  .nameFront {
    margin: 10px calc( 50% - 350px);
  }
}

.fName, .lName {
  height: 50%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fName {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.lNameBack, .fNameBack {
  position: absolute;
  z-index: 0;
  opacity: 0.3;
  font-size: 15em;
}

.lNameBack {
  right: 10%;
  bottom: 20px;
}

.fNameBack {
  left: 10%;
  top: 20px;
}

.aboutHeader {
  position: absolute;
}

#about {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh 10vh 1fr 1fr 10vh 10vh;
      grid-template-rows: 10vh 10vh 1fr 1fr 10vh 10vh;
  -ms-grid-columns: 10% 5% auto 5% 5%;
      grid-template-columns: 10% 5% auto 5% 5%;
}

.aboutContent {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  z-index: 15;
  padding: 25px;
  border-radius: 10px;
  -webkit-box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.9), 3px 3px 3px rgba(0, 0, 0, 0.4);
          box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.9), 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.aboutContent::first-letter {
  font-size: 300%;
}

.aboutContent p {
  font-size: 1.4rem;
  text-align: justify;
}

.aboutDot {
  background: linear-gradient(-45deg, transparent, transparent 2px, #ecf0f1 2.2px), linear-gradient(45deg, #a5f20c, #a5f20c);
  background-size: 10px 10px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
}

.workContent {
  min-height: 100vh;
  position: relative;
  padding: 10vh 10vw 10vh 15vw;
  margin: auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  z-index: 15;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 992px) {
  .workContent {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.work {
  background: #1a1a1a;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.4), 3px 3px 3px rgba(0, 0, 0, 0.9);
          box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.4), 3px 3px 3px rgba(0, 0, 0, 0.9);
  text-align: center;
}

.work p {
  font-size: 1.2rem;
}

.imgWork {
  position: relative;
  width: 80%;
  display: block;
  margin: 10px 5%;
  padding: 10px 5%;
  border-radius: 10px;
  -webkit-box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.4), 3px 3px 3px rgba(0, 0, 0, 0.9);
          box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.4), 3px 3px 3px rgba(0, 0, 0, 0.9);
}

.imgWork:hover {
  -webkit-box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.4) inset, 3px 3px 3px rgba(0, 0, 0, 0.9) inset;
          box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.4) inset, 3px 3px 3px rgba(0, 0, 0, 0.9) inset;
}

.imgWork .imgWorkHover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: #e6e6e6;
  opacity: 0;
  width: 90%;
  height: calc(100% - 20px);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.imgWork .imgWorkHover:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

.imgWork img {
  width: 100%;
}

.theLink {
  opacity: 1;
}

.codeLink {
  font-size: 1.4rem;
  color: #e6e6e6;
}

.fas {
  color: #a5f20c;
}

.skillsContent {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

.skills {
  position: relative;
}

.skills img {
  max-height: 4rem;
}

@media (min-width: 480px) {
  .skills img {
    max-height: 6rem;
  }
}

.skills .fab, .skills .frontImg {
  font-size: 4rem;
  color: #ecf0f1;
  -webkit-filter: drop-shadow(-3px -3px 2px white);
          filter: drop-shadow(-3px -3px 2px white);
}

@media (min-width: 480px) {
  .skills .fab, .skills .frontImg {
    font-size: 6rem;
  }
}

.skills .back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.4));
}

.skill1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.skill2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
}

.skill3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.skill4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.skill5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

.skill6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
}

.skill7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

#contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh 10vh 1fr 1fr 10vh 10vh;
      grid-template-rows: 10vh 10vh 1fr 1fr 10vh 10vh;
  -ms-grid-columns: 10% 5% minmax(250px, auto) 5% 5%;
      grid-template-columns: 10% 5% minmax(250px, auto) 5% 5%;
}

.contactContent {
  position: relative;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 15;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.4), 3px 3px 3px rgba(0, 0, 0, 0.9);
          box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.4), 3px 3px 3px rgba(0, 0, 0, 0.9);
}

.contactContent h3 {
  line-height: 200%;
  text-align: center;
}

.awesome {
  font-size: 3rem;
}

@media (min-width: 480px) {
  .awesome {
    font-size: 4rem;
  }
}

.contactSocial {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4rem;
}

.imgBlock {
  position: relative;
}

.imgBlock:hover {
  -webkit-transform: scale(150%);
          transform: scale(150%);
}

.imgBlock img {
  height: 100%;
}

.imgBlock .frontImg {
  -webkit-filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.4));
          filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.4));
}

.imgBlock .back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.9));
          filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.9));
}

.pointer {
  position: relative;
  margin-left: 50px;
}

.arrow, .arrowClick {
  position: absolute;
}

.frontArrow, .backArrow {
  position: relative;
  height: 3rem;
}

.frontArrow .back, .backArrow .back {
  position: absolute;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.9));
          filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.9));
  bottom: 0;
  left: 0;
}

.arrows {
  max-height: 100%;
  -webkit-filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.4));
          filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.4));
}

.frontArrow {
  -webkit-animation: firstAnimation 2s infinite 0s linear;
          animation: firstAnimation 2s infinite 0s linear;
}

.backArrow {
  opacity: 0;
  -webkit-animation: secondAnimation 2s infinite 0s linear;
          animation: secondAnimation 2s infinite 0s linear;
}

.arrow {
  z-index: 1000;
}

.contactMe {
  bottom: 0;
  right: 5px;
  font-size: 1.2rem;
  color: #a5f20c;
}

@media (min-width: 768px) {
  .contactMe {
    font-size: 2rem;
  }
}

@-webkit-keyframes secondAnimation {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes secondAnimation {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes firtAnimation {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes firtAnimation {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
