#contact
    // width: 100vw
    // overflow: hidden
    // height: 100%
    // width: 100%
    display: grid
    grid-template-rows: 10vh 10vh 1fr 1fr 10vh 10vh
    grid-template-columns: 10% 5% minmax(250px, auto) 5% 5%
    // justify-content: center
    // align-content: center

.contactContent
    position: relative
    grid-row: 3/5
    grid-column: 3/4
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    z-index: 15
    padding: 20px
    border-radius: 10px
    box-shadow: $shadowDBG 

    h3
        line-height: 200%
        text-align: center
        
.awesome
    font-size: 3rem
    @include mobile(mf4)
        font-size: 4rem

.pointer
    position: relative
    margin-left: 50px
    
       

.arrow, .arrowClick
    position: absolute
    

.frontArrow, .backArrow
    position: relative
    height: 3rem

    .back
        position: absolute
        filter: $shadowBackDBG
        bottom: 0
        left: 0

.arrows
    max-height: 100%
    filter: $shadowFrontDBG



.frontArrow
    animation: firstAnimation 2s infinite 0s linear

.backArrow
    opacity: 0
    animation: secondAnimation 2s infinite 0s linear
.arrow
    z-index: 1000

.contactMe
    // position: absolute
    bottom: 0
    right: 5px
    // margin: auto
    // transform: rotate(90deg)
    // transform-origin:  right top
    font-size: 1.2rem
    color: color(primary)
    // margin-right: 50px
    // padding-bottom: 20px

    

@keyframes secondAnimation
    0%
        opacity: 0
    49%
        opacity: 0
    50%
        opacity: 1
    100%
        opacity: 1
  

@keyframes firtAnimation
    0%
        opacity: 1
    49%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 0
    