.logo, .social, .navbar
    position: absolute

    
.navbar
    background: color(dark)
    z-index: 100
    width: 100%
    // height: 5vh
    top: 0
    left: 0
    padding: 10px 0
    
    ul
        display: flex
        justify-content: space-around
        
        li
            list-style: none
            
            a
                color: color(clearDark)
                text-transform: uppercase


    