* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #dfdfdf;
}

h1 {
  font-family: Comfortaa, cursive;
  font-size: 3rem;
}

h2, h3 {
  font-family: Lato, sans-serif;
}

p, a {
  font-family: Nunito Sans, serif;
  line-height: 150%;
}

.mainWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 90% auto;
      grid-template-columns: auto 90% auto;
}

@media (min-width: 768px) {
  .mainWrapper {
    -ms-grid-columns: auto 70% auto;
        grid-template-columns: auto 70% auto;
  }
}

@media (min-width: 992px) {
  .mainWrapper {
    -ms-grid-columns: auto 65% auto;
        grid-template-columns: auto 65% auto;
  }
}

#about, #portfolio, #contact {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.navbar {
  position: absolute;
}

.hero {
  position: relative;
  height: 100vh;
  background-image: url("../img/mountains.jpg");
  background-size: cover;
  background-position: left center;
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/mountains.jpg");
  background-size: cover;
  background-position: left center;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.heroInside {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroLogo {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  margin: 20px;
}

.heroBg {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #dfdfdf;
  -webkit-clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
          clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.heroHeader {
  border-bottom: 1px #444444 solid;
}

.heroParagraph {
  text-align: center;
  margin: 25px auto;
}

.heroContactLink {
  text-decoration: none;
  position: relative;
  color: #a7a7a7;
  font-weight: bold;
  background: #0c55f2;
  padding: 10px 20px;
  border-radius: 100px;
  overflow: hidden;
  z-index: 1;
  -webkit-box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.4), 3px 3px 3px rgba(0, 0, 0, 0.9);
          box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.4), 3px 3px 3px rgba(0, 0, 0, 0.9);
}

.heroContactLink::after {
  content: '';
  padding: 10px 20px;
  position: absolute;
  background-color: #44444433;
  width: calc(100% - 40px);
  height: calc(100% - 20px);
  left: 0;
  top: 0;
  border-radius: 100px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  z-index: -1;
}

.heroContactLink:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media (min-width: 768px) {
  .heroBreak {
    display: none;
  }
}

#about {
  background: #fdfdfd;
  text-align: center;
  padding: 3em;
}

@media (min-width: 480px) {
  #about {
    padding: 4em;
  }
}

@media (min-width: 768px) {
  #about {
    padding: 5em;
  }
}

.aboutTitle {
  margin-bottom: 30px;
}

.aboutParagraph {
  margin-bottom: 35px;
}

.aboutSkills {
  margin-bottom: 30px;
}

.aboutSkillsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  -webkit-column-gap: 10px;
          column-gap: 10px;
  justify-items: center;
}

.aboutSkillsImgBox {
  height: 50px;
  width: 50px;
  margin: 5px;
  position: relative;
}

.aboutSkillsImgFront, .aboutSkillsImgBack {
  height: 100%;
}

.aboutSkillsImgFront {
  -webkit-filter: drop-shadow(-3px -3px 2px white);
          filter: drop-shadow(-3px -3px 2px white);
}

.aboutSkillsImgBack {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.4));
}
