*
    margin: 0
    padding: 0
    box-sizing: border-box


body
    background: color(darkBG)


html
    scroll-behavior: smooth


h1
    font-family: font(fontHero)
    font-size: 3rem
    color: color(clearBG)

    @include mobile(mf7)
        font-size: 5rem


h2, h3
    color: color(darkFont)
    font-family: font(fontH)

    @include mobile(mf7)
        font-size: 3rem


p, a
    font-family: font(fontP)
    line-height: 150%
    color: color(clearFont)


p,a
    text-decoration: none

    @include mobile(mf4)
        font-size: 20px


.mainWrapper
    display: grid
    width: 100%
    row-gap: 50px
    grid-template-columns: 5% 90% 5%

    @include mobile(mf7)
        grid-template-columns: 10% 80% 10%
        
    @include mobile(mf9)
        grid-template-columns: 15% 70% 15%


#about, .portfolio, #contact
    grid-column: 2/3