*
    margin: 0
    padding: 0

body
    background: color(darkBG)

h1
    font-family: font(fontHero)
    font-size: 3rem
    
h2, h3
    font-family: font(fontH)

p, a
    font-family: font(fontP)
    line-height: 150%